<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <!-- <div class="user-intro center-align">
    <h4 class="hidden">I am a So Simple, Very Doge, Much Wow, Such Cool Text Rotator</h4>
  </div> -->
  <div class="user-content">
    <p>
    I am Shuyao Tan, originally from Shenzhen, China. I will be very happy if you call me Gloria because I actually picked the name.
    I am looking for a job as a software engineer, preferably full-stack developers but also open to other opportunities.

    </p>
    <p>
    I am currently a master's student at The Johns Hopkins University studying Computer Science.
     Johns Hopkins has been my dream school ever since I read the story of the HeLa cell line when I was in high school.
     My dream was to be an oncologist, due to the reason that I lost my grandparents, whom I grew up with, to cancer.
     Though the reality is quite off from dreams, let's just take what life offers and live it to the fullest.

    </p>
    <p>
    Outside of work and school, I enjoy traveling to new places. I love the excitement of exploring new things and
     learning new skills. Also, I found it fascinating that I can always understand myself better in the process of
     understanding the history and culture of a new place.

    </p>
  </div>
</div>